// colors
$purple: #0a192f;
$lightPurple: rgba(
  $color: #293d5a,
  $alpha: 0.9
);
$black: #0d0d0d;
$darkShade: #2d3952;
$darkredPurple: #020c1b;
$shadow: rgba(2, 12, 27, 0.9);
$darkPurple: #172a45;
$skyBlue: #8892b0;
$lightBlue: #a8b2d1;
$blueWhite: #ccd6f6;
$whiteYellow: #64ffda;
$headWhite: #e6f1ff;
$blueLight: #333f58;
$navyBlue: #606a86;

// font weight
$thin: 100;
$exlight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$exbold: 800;
$exblack: 900;

$roboto: "'Roboto', sans-serif";
$railway: "'Raleway', sans-serif";
$satisfy: "'Satisfy', cursive";
